.DS_Store
.vagrant
*.crt
*.csr
*.dat
*.log
*.retry
_sutakku*.yml
*.snap
*.tmp
*.zip
consul
consul-template
enconsul
nomad
vault
examples/hosts
example.nomad
files/tmp
pki/*
phosts
ssl
consul-template_*_SHA256SUMS
consul_*_SHA256SUMS
envconsul_*_SHA256SUMS
nomad_*_SHA256SUMS
vault_*_SHA256SUMS
var/nomad/alloc
var/nomad/checkpoint-signature
var/nomad/client
